node_modules/
npm-debug.log
package-lock.json 

build/*/dist
build/*/node_modules

*.log
*.js
*.js.map
*.d.ts

/dist
/babel-plugin-ts2odata/bin
/ts2odata/bin
/.node-persist
/.vs
/babel-plugin-ts2odata/obj
/ts2odata/obj
