node_modules/
npm-debug.log
package-lock.json 

build/*/dist
build/*/node_modules

*.log
*.js
*.js.map
*.d.ts

/dist
/ts2odata-babel-plugin/bin
/ts2odata/bin
/.node-persist
/.vs
/ts2odata-babel-plugin/obj
/ts2odata/obj
